<div class="myorder-view">
        <header class="topbar">
                <a href="../shop/index.html" class="topbar__link" type="button">
                        <img src="../../assets/icons/logo_coexbuster.svg" alt="logo_coexbuster" class="logo">
                </a>
        </header>
        <main class="myorder-container">
                <button id="back-arrow" class="icon-arrow" type="button">
                        <img src="../../assets/icons/back-arrow-comb-white.svg" alt="back-arrow" class="icon">
                    </button>
                <section class="order">
                        <h1 class="order__title">My order</h1>
                        <div class="order__info">
                                <!-- <h2 class="info__date">${datamovies} Movies</h2> -->
                                ${date}
                        </div>
                        <div class="order__list">
                                ${movies}
                        </div>
                </section>
        </main>
</div>
