.myorder-view {
    background-color: var(--purple-bg);
    width: 100%;
    min-height: 100vh;
}

.myorder-container {
    padding-top: 84px;
    position: relative;
    width: 100%;
    padding-bottom: 1rem;
}

.icon-arrow {
    cursor: pointer;
    position: absolute;
    right: calc(100% - 50% + 250px);
    top: 25px;
    background-color: transparent;
    border: none;
}

.order {
    margin: 30px auto;
    padding: 30px 20px;
    width: 445px;
    background-color: var(--purple-input);
    box-shadow: 10px 10px 20px var(--purple-dark);
}

.order,
.order__info,
.item__cover,
.list__link {
    border-radius: 10px;
}
.order__title {
    color: var(--white);
    font-size: 18px;
}

.order__info {
    margin-top: 46px;
    margin-bottom: 25px;
    padding: 16px 20px;
    background-color: var(--purple-dark);
}

.info__date {
    font-size: 16px;
    color: var(--gray-primary);
}

.info__articles {
    margin-top: 4px;
    font-size: 14px;
    color: var(--gray-secondary);
    font-weight: 400;
}

.order__list,
.list__item,
.item__info,
.item__stars,
.item__genres {
    display: flex;
}
.order__list {
    gap: 24px;
}

.order__list,
.item__info {
    flex-direction: column;
}

.list__link {
    position: relative;
    text-decoration: none;
    transition: all 150ms ease;
}

.list__link:hover {
    background-color: var(--purple-dark);
    opacity: .5;
}
