<a href="#" class="list__link" title="Go to ${title-movie}">
    <div class="list__item">
        <figure class="item__cover">
            <img src="${img-cover}" alt="${title-movie}" class="item__img">
        </figure>
        <div class="item__info">
            <h4 class="item__title">${title-movie}</h4>
            <div class="item__genres">
                <p class="item__genre">${genre-item}</p>
            </div>
            <star-rating rating="${rating-item}"></star-rating>
        </div>
    </div>
</a>