.product-container{
    display: flex;
    flex-direction: column;
    height: 100%;
}
.header {
    height: 10%;
    background-color: #02021C;
}
.search-bar{
    height: 10%;
    background-color: white;
}
.main-card-container{
    display: flex;
    justify-content: center;
    align-items: flex-start;
    width: 100%;
    height: 80%;
}
.main-card{
    height: 90%;
    width: 80%;
    border-radius: 16px;
    /* border: solid 1px white; */
    overflow: hidden;
}
.main-info-section{
    width: 100%;
    height: 100%;
}
.main-info-slot{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
}